@model McStanleyBar.ViewModels.HomePageViewModel

@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Home Page";
}


@foreach (var Event in Model.Event)
{
    <div class="container">
        <div class="row">
            <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
                <ul class="event-list">
                    <li>
                        <time datetime="2014-07-20">
                            <span class="day">@Event.StartDate</span>
                            <span class="month">@Event.StartDate</span>
                        </time>
                        <img alt="EventImage" src="@Event.Img" />
                        <div class="info">
                            <h2 class="title">@Event.Title</h2> <h2 class="title pull-right">$@Event.Price</h2>
                            <p class="venue">@Event.Venue.Name</p>
                            <p class="genre">@Event.Genre.GenreName</p>
                            <p class="startTime">@Event.StartTime</p>
                        </div>
                        <div class="price pull-right" id="ShoppingCartCounter-@Event.Id">
                        @Html.Partial("_ShoppingCartCounter", Event)                                                
                        </div>

                        <div class="price pull-right" id="checkOutCart">
                            <button id="btn" type="button" class="cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Check Out</button>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div>
        @*load shopping cart*@
    </div>
    
}
<div class="row">
    <div class="col-lg-12" id="shoppingCart">
        @Html.Partial("_shoppingCart", Model.ShoppingCart)
    </div>
</div>